{% load static %}
<html>
    <head>
        <title>Testes com HTML, CSS e Javascript</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
        
    </head>
    <body>
      <nav id="menu-h">
        <ul class="menu-position">
          <li>
        <a href="#home">GitHub profiles</a>
      </li>
      <li >
        <a href="#news">News</a>
      </li>
      <li >
        <a href="#contact">Contact</a>
      </li>
      <li >
        <a  href="#about">About</a>
      </li>
      </ul>
      </nav>
     
    </body>
</html>