{% load static %}
<html>
    <head>
        <title>Testes com HTML, CSS e Javascript</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    </head>
    <body>
      <nav id="menu-h">
        <ul class="menu-position">
          <li>
        <a href="#home">GitHub profiles</a>
      </li>
      <li >
        <a href="#contact">Linkedin</a>
      </li>
      <li >
        <a  href="#about">Github</a>
      </li>
      </ul>
      </nav>

      <div class="formulario_input">
        <form class="example">
          <h2 class="titulo_formulario">Procura de usuário github</h2>
          <input type="text" placeholder="Digite o nome do usuário..." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
     
    </body>
</html>